RewriteEngine On
RewriteBase /G11C/G11C_A1/
# Si le fichier demandé existe, le servir directement
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
